@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.imageLogo:hover {
  cursor: pointer;
}

.parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr) 130px repeat(3, 1fr);
  grid-template-rows: 1fr repeat(2, 165px) 130px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background: #f8f8f8;
  border: 1px solid #f8f8f8;
}

.div1 {
  grid-area: 2 / 1 / 3 / 4;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 55px;
  margin-top: 50px;
}

.div1 h1 {
  font-style: normal;
  font-size: 40px;
}

.div2 {
  grid-area: 3 / 1 / 4 / 4;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 15px;
}

.div2 button {
  background-color: #f48c06;
  color: white;
  width: 360px;
  height: 65px;
  border: 1px solid #f48c06;
  border-radius: 8px;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}

.div3 {
  display: flex;
  width: 490px;
  height: 550px;
  grid-area: 2 / 5 / 4 / 8;
  grid-template: max-content;
  padding: 20px 0px;
}

.div3 img {
  display: flex;
  border-radius: 25px;
}

.funcionamiento {
  background-color: #f8f8f8;
  padding: 5px 75px;
  border: 1px solid #f8f8f8;
  border-radius: 15px;
}

.ObjetivoNoveno {
  margin-top: 50px;
  background-color: #f8f8f8;
  padding: 5px 75px;
  border: 1px solid #f8f8f8;
  border-radius: 15px;
}

.funcionamiento p {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 40px;
  text-align: justify;
  color: #03071e;
}

.ObjetivoNoveno p {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 40px;
  text-align: justify;
}

.MetasObjetivo {
  background-color: #f8f8f8;
  padding: 5px 15px;
  border: 1px solid #f8f8f8;
  border-radius: 5px;
}

.MetasObjetivo ul {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 40px;
  text-align: justify;
}

@media (max-width: 730px) {
  .imageLogo {
    width: 100;
    height: 100;
  }
}

@media only screen and (max-width: 700px) {
  .parent {
    width: 680px;
    height: 250px;
    background: #f8f8f8;
    border: 1px solid #f8f8f8;
  }

  .div1 h1 {
    position: absolute;
    font-size: 20px;
    line-height: 25px;
    font-weight: 500;
    margin: 1rem 0 1em 1em;
    left: 5px;
  }

  .div1 {
    width: 250px;
    height: 75px;
  }

  .div2 {
    width: 250px;
    height: 75px;
  }
  .div2 button {
    margin-top: -50px;
    font-size: 20px;
  }

  .div3 {
    margin-left: -70px;
    width: 300px;
    height: 390px;
  }

  .imageInit {
    width: 150px;
    height: 250px;
  }

  .funcionamiento {
    margin-left: -3px;
    margin-top: 150px;
    width: 650px;
  }

  .ObjetivoNoveno {
    width: 650px;
  }

  .MetasObjetivo {
    width: 650px;
  }

  .NavBR {
    width: 680px;
    padding-right: 30px;
  }
}
