.General {
    display: grid;
    grid-template-columns: 150px 550px 150px;
    grid-template-rows: 150px 550px 150px;
    grid-column-gap: 150px;
    grid-row-gap: 11px;
    margin-left: 110px; 
} 


.divFormulario {
    grid-area: 1 / 2 / 4 / 3; 
}

.divLogoRojo {
    display: flex;
    justify-content: right;
    align-items: center;
    grid-area: 1 / 1 / 3 / 2; 
}

.divLogoAzul { 
    display: flex;
    justify-content: left;
    align-items: center;
    grid-area: 2 / 3 / 4 / 4; 
}

.divFormulario h1{ 
    text-align: center;
}

.divFormulario__input {
    margin-top: 50px;
}

.divFormulario__input * {
    margin-top: 15px;
}


.divFormulario__input label{
    font-size: 22px;
}

.divFormulario__input input{
    width: 550px;
    height: 45px;
    font-size: 16px;
    border: 2px solid #E8E8E8;
    border-radius: 5px;
}

.divFormulario__label {
    font-size: 14px; 
    display: flex;
    justify-content: flex-end;
    color: #2c5282;
}

.divFormulario__btn {
    width: 550px;
    height: 65px;
    color: #fff;
    font-size: 22px;
    background-color: #04C35C;
    border: 5px solid #04C35C;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}

.divFormulario__register *{
    margin-top: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divFormulario__register label{
    color: #616161;

}

.divFormulario__btngoogle {
    width: 550px;
    height: 65px;
    color: #fff;
    font-size: 22px;
    background-color: #2E4059;
    border: 5px solid #2E4059;
    border-radius: 5px;
    background-image: url('/googlelogo.png');
    background-repeat: no-repeat;
    background-size: 27px;
    background-position: 120px center;
    cursor: pointer;
}

.divFormulario__register a{
    margin-top: -2px;
    margin-left: 5px;
    cursor: pointer;
    color: #2c5282;
}

.divLogoAzul img{
    cursor: pointer;
}

.divLogoRojo img {
    cursor: pointer;
}